<div>
  <h2 class="mb-2">Who to follow</h2>

  <ul class="list-unstyled">
    <li class="media">
      <img class="mr-3 side-feed" src="../../../assets/images/profile-photo.png" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="side-feed-account mt-0 mb-1">List-based media object</h5>
        <p>Followed by XYZ</p>
      </div>
    </li>
    <li class="media my-4">
        <img class="mr-3 side-feed" src="../../../assets/images/profile-photo.png" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="side-feed-account mt-0 mb-1">List-based media object</h5>
          <p>Followed by XYZ</p>
        </div>
    </li>
    <li class="media">
        <img class="mr-3 side-feed" src="../../../assets/images/profile-photo.png" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="side-feed-account mt-0 mb-1">List-based media object</h5>
          <p>Followed by XYZ</p>
        </div>
    </li>
  </ul>
</div>