.list-unstyled {

}

.side-feed {
    height:50px;
    width:50px;
}

.side-feed-account {

}
.height-limit{
    max-height:550px;
    overflow:hidden;
}

.trending-list{
    list-style: none;
}
.blue-font{
    color:#0686ff;
}